<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_bootstrap_meta')%>
    <title>Create Student Form</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <style>
      .custom-bg {
        background: linear-gradient(
          to right,
          rgba(106, 17, 203, 1),
          rgba(37, 117, 252, 1)
        );
      }
    </style>
  </head>

  <body class="custom-bg">
    <%- include('_header') %>
    <form
      class="w-50 mx-auto mt-4"
      action="/employee/edit/<%=employee.id%>"
      method="post"
      style="
        height: 100%;
        display: grid;
        place-content: center;
        background: linear-gradient(
          to right,
          rgba(118, 68, 221, 0.5),
          rgba(88, 222, 118, 0.5)
        );
        border-radius: 5px;
        box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
        padding: 50px 70px;
      "
    >
      <h3 style="text-align: center" class="text-white">Edit Employee</h3>
      <% console.log("employeesfsfsfsf",employee) %>
      <!-- <fieldset>
        <label class="text-white" class="text-white" for="batch">Batch</label>
        <div class="mb-3">
          <input type="text" class="form-control" id="batch" name="batch" />
        </div>
      </fieldset> -->

      <fieldset>
        <div class="mb-3">
          <label for="name" class="form-label text-white">Name</label>
          <input type="text" class="form-control" id="name" name="name"  value=<%=employee.name%> />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label text-white">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="abc@gmail.com"
            name="email"
            value=<%=employee.email%>
          />
        </div>
        <div class="mb-3">
          <label for="contactNumber" class="form-label text-white"
            >Mobile Number</label
          >
          <input
            type="text"
            class="form-control"
            id="contactNumber"
            name="contactNumber"
            value=<%=employee.contactNumber%>
          />
        </div>
        <div class="mb-3">
          <label for="college" class="form-label text-white"
            >Date of birth</label
          >
          <input type="date" class="form-control" id="dob" name="dob" value=<%=employee.dob%> />
        </div>
        <div class="mb-3">
          <label for="isAdmin" class="form-label text-white"
            >Make admin?</label
          >
          <select
            class="form-select"
            aria-label="Default select example"
            name="isAdmin"
            id="isAdmin"
            
          >
            <option value="true" <%= employee.isAdmin ? 'selected' : '' %> >yes</option>
            <option value="false" <%= !employee.isAdmin ? 'selected' : '' %>>no</option>
          </select>
       
        </div>
      </fieldset>

  
      </fieldset>
      <button type="submit" class="btn btn-dark align-self-center">
        Create Student
      </button>
    </form>
    <%- include('_bootstrap_script')%>
  </body>
</html>
